{% load staticfiles  %}
<header class="container-fluid">
    <div class="blackBgB row">
        <div class="logo col-4 col-lg-2 h-fix">
            <div class="vCenter center">
                Складовик
            </div>
        </div>
        <div class="col-4 col-lg-3">
            <div class="vCenter center item1Head">
                {% if index == 1 %}
                    Товары
                {% elif index == 2 %}
                    Склады
                {% elif index == 3 %}
                    Стеллажи
                {% elif index == 4 %}
                    Грузопотоки
                {% elif index == 5 %}
                    Грузопоток {{ tr.id }}
                {% elif index == 6 %}
                    Транспорт
                {% elif index == 7 %}
                    Разгрузка
                {% elif index == 8 %}
                    Разгрузка {{ tr.id }}
                {% elif index == 9 %}
                    Статистика
                {% endif %}
            </div>
        </div>
        <div class="col-4 col-lg-7">
            <div class="vCenter itemUsHead">{{ us_name }} </div>
        </div>
    </div>
</header>