.navLeft{
    height: calc(100vh - 4.75rem);
    background: #4f5162;
    box-sizing: border-box;
    position: fixed;
}
.ulFirst:after{
    vertical-align: middle;
    content: '';
	display: inline-block;
    box-sizing: border-box;
    width: 100%;
	height: 3px;
	background: #565869;
    margin-top: 20px;
}

ul{
    padding-left: 0;
    font-size: 24px;
}

li{
    color: #81838e;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
    margin-left: 0;
    padding-left: 50px;
    margin-bottom: 10px;
}
li:hover{
    color: white;
}
.activeLi{
    color: white;
}